@charset "utf-8";

/* Estilos generales */
html {
    scroll-behavior: smooth;
    width: 100%;
}

* {
    font-family: "macho", sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

* h1{
    font-size: 36px;
}

* h2 {
    font-size: 32px;
}

* h3 {
    font-size: 24px;
    color: #FFF2FC;
}

* h4 {
    font-size: 24px;
    font-weight: 400;
    color: #FFF2FC;
}

/* Cursor */
body {
    cursor: url(img/cursorpersonalizado.png), auto;
}

a {
    cursor: url(img/cursorpersonalizado.png), auto;
}

/* Header */
header {
    background-color: #621244;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

ul.menu {
    display: flex;
    gap: 30px;
}

ul.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF2FC;
    border-radius: 40px;
    background: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

ul.menu li a:hover {
    background: #F379AA;
    color: #621244;
}

/* INDEX */

.ufo img{
    width: 100%;
}

body.home {
    background: linear-gradient(180deg, #951C67 27.34%, #621244 73.85%);
}

#about {
    color: #FFF2FC;
    font-size: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.about-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 60px 0;
    align-items: center;
    gap: 75px;
}


.about-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#about h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
}

#about p {
    font-size: 24px;
    max-width: 500px; /* Ajusta para que se vea mejor en distintos tamaños de pantalla */
    margin: 0;
}


/* Proyectos Index */

.mis-proyectos {
    padding: 40px;
}

.proyectos-slider {
    position: relative;
    width: 100%;
}

.slides {
        display: flex;
        width: calc(100% * 3); /* Cambiar a un cálculo que dependa del número de slides */
        transition: transform 1.0s ease;
}

.slide {
    display: flex;
    align-items: center;
    min-width: 100%;
    gap: 90px;
    padding: 30px;
}

.slide img {
    width: 100vh;
}

.informacion-proyect {
    max-width: 350px;
    text-align: left;
    color: #FFF2FC;
}

/* Oculta los inputs */
input[type="radio"] {
    display: none;
}

/* Lógica para mostrar cada slide */
#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

/* Botones de navegación */
.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.nav-buttons label {
    width: 20px;
    height: 20px;
    background-color: #F379AA;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#slide1:checked ~ .nav-buttons label[for="slide1"],
#slide2:checked ~ .nav-buttons label[for="slide2"],
#slide3:checked ~ .nav-buttons label[for="slide3"] {
    background-color: #FFF2FC;
}

/* Estilos de Info del Proyecto */
.informacion-proyect h2 {
    color: #FFF2FC;
    margin-bottom: 10px;
}

.informacion-proyect p {
    color: #FFF2FC;
    font-size: 24px;
    margin-bottom: 30px;
}

.btn-ver-mas {
    display: flex;
    width: 117px;
    height: 40px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #FFF2FC;
    text-decoration: none;
    color: #FFF2FC;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.btn-ver-mas:hover {
    background: #F379AA;
    color: #621244;
}


/* CONTACTO INDEX */
.contacto-inicio {
    display: flex;
    width: 100%;
    padding: 35px;
    justify-content: center;
    align-items: center;
    gap: 65px;
    background-color: #FFF2FC;
}

.contacto-content {
    display: flex;
    align-items: center;
    gap: 65px;
}

.info-contacto {
    flex: 1;
    /* Toma el espacio disponible de forma proporcional */
    text-align: left;
    /* Alineación del texto a la izquierda */
}

.info-contacto h2 {
    color: #621244;
    font-weight: 700;
}

.info-contacto p {
    color: #621244;
    font-size: 24px;
    font-weight: 400;
}

.contacto-img {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #621244;
    /* Color de fondo */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Ocupa todo el ancho */
    box-sizing: border-box;
    position: static;
}

.firma-derechos {
    display: flex;
    align-items: center;
}

.firma-derechos img.firma {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    /* Separación entre la firma y el texto */
}

.firma-derechos p {
    font-size: 14px;
    color: #FFF2FC
        /* Color del texto */
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}


footer .footer-content {
    max-width: 1830px;
    /* Para ajustar el contenido */
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/*-------HTML SOBRE MI-------*/

#sobre-mí {
    display: flex;
    background: linear-gradient(180deg, #621244 0%, #951C67 100%);
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
    gap: 75px;
}

.caja {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #FFF2FC;
    width: 100vh;
    font-size: 18px;
}

.hobbies {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.hobbies-section {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.hobbies-section p {
    font-style: italic;
    padding: 10px;
}

.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#educacion-personalidad {
    display: flex;
    padding: 30px;
    align-items: flex-start;
    justify-content: center;
    gap: 75px;
    font-size: 18px;
    background-image: url(img/img-sobre-mi/ilus-lapiz-milo.png);
    background-repeat: no-repeat;
    background-position: 37% bottom;
}

.columna {
    color: #621244;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#spotify {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.box h4{
    color: #621244;
    font-weight: 600;
}

/*------- FIN -------*/


/*-------HTML CONTACTO-------*/

.contact-section {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 60px;
    background-color: #FFF2FC;
    background-image: url(img/texture-banner.png);
    background-size: cover;
    background-position: center;
    color: #FFF2FC;
    flex-wrap: nowrap;
    justify-content: center;
}

.contact-form-container {
    display: flex;
    align-items: center;
    /* gap: 80px; */
    background-color: rgba(255, 242, 252, 0.9);
    /* padding: 40px; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(150, 28, 103, 0.5);
}

.contact-img {
    display: flex;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #FFF2FC;
    border-radius: 40px;
    max-width: 450px;
    width: 100%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-row {
    display: flex;
    gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    /* Permite que los campos se distribuyan uniformemente */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #F379AA;
    border-radius: 10px;
    font-size: 16px;
    color: #621244;
    background-color: #FFF2FC;
}

textarea {
    resize: vertical;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.required-fields {
    font-size: 14px;
    color: #621244;
}

button {
    font-size: 18px;
    font-weight: 600;
    color: #621244;
    padding: 5px 25px;
    border: 3px solid #621244;
    border-radius: 40px;
    background-color: #FFF2FC;
    cursor: pointer;
}

button:hover {
    background: #F379AA;
    color: #FFF2FC;
}

/*------- FIN -------*/



/*-------HTML PROYECTOS-------*/

.textura {
    background-image: url(img/img-contacto/textura-2.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start;
    color: #FFF2FC;
}


/* Galería */
.galeria {
    padding: 2rem;
    background: linear-gradient(0deg, rgba(150, 28, 103, 0.70) 0%, rgba(150, 28, 103, 0.70) 100%), url(img/img-proyectos/texture.jpg) lightgray 50% / cover no-repeat;
}

.galeria-grid {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.proyecto {

    display: flex;
    padding-left: 70px;
    gap: 50px;
    align-items: center;
    flex-direction: row;
}


.slider {
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    flex: 1;
}

.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 10px;
}

.slider-nav a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF2FC;
    opacity: 0.40;
    transition: ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.info-proyecto {
    width: 500px;
    height: 350px;
    padding: 20px;
    background: rgba(149, 28, 103, 0.80);
    border-radius: 15px;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
}

.info-proyecto p{
    color: #FFF2FC;

}

.italic {
    margin-bottom:10px;
    font-size: 18px;
    font-style: italic;
}

/* Lightbox */
.lightbox {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}